#map {
  width: 400px;
  height: 500px;
  margin: 30px 0;
  border: 5px black solid;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis g text {
  font-size: 8px;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle.show {
  fill-opacity: .6
}

circle.dim {
  fill-opacity: .1
}

circle.Individual {
  fill: #aaad07;
}

circle.Undefined {
  fill: #b8b8b8;
}

circle.Center {
  fill: #0000ff
}

circle.Camp {
  fill: #996633
}

circle.Dispersed {
  fill: #800080
}

cirlce.Center {
  fill: #ff0000
}

circle.Settlement {
  fill: #149904
}
circle.selected {
  fill: #ff0000
}

#legend {
  margin: 15px 0 0 -20px;
}
