#map {
  width: 400px;
  height: 500px;
  margin: 30px 0;
  border: 5px black solid;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis g text {
  font-size: 8px;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle.show {
  fill-opacity: .7
}

circle.dim {
  fill-opacity: .2
}

circle.Undefined {
  fill: #00ffff;
}

circle.Camp {
  fill: #00ff00
}

circle.Dispersed {
  fill: #800080
}

cirlce.Center {
  fill: #ff0000
}

circle.Settlement {
  fill: #ffff00
}
